.header-section {
    padding-top: 2rem;
    /* Reduced from py-5 */
    padding-bottom: 2rem;
}

.header-content {
    padding-top: 1rem;
    /* Reduced from py-lg-5 */
    padding-bottom: 1rem;
}

.header-title {
    font-weight: 300;
}

.header-text {
    font-size: 1.125rem;
    /* Adjust the font size if needed */
}

/* Placeholder image styling */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
